# Dependency directories
node_modules/


# Electron build
dist/
out/

# Native addon build files
*.node

# macOS specific files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*